.Wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 14fr;
  grid-column-gap: 15px;
  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr 15fr;
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  &__Content {
    @media screen and (max-width: 600px) {
      margin-top: 85px;
    }
  }
}