.MainSlider {
  border-radius: 6px;
  .swiper-slide {
    height: 600px;

    @media screen and (max-width: 960px) {
      height: 500px;
    }

    @media screen and (max-width: 600px) {
      height: 300px;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    color: white;
  }
}