.Navbar {
  padding: 50px 40px;
  border-right: 1px solid rgba(211, 211, 211, 0.075);
  display: grid;
  grid-row-gap: 50px;
  grid-auto-rows: max-content;
  transition: all 0.3s ease-out;

  @media screen and (max-width: 960px) {
    padding: 40px 15px;
  }

  @media screen and (max-width: 600px) {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    height: 100%;
    background: #1d1e23;
    &--hidden {
      height: 85px;
    }
  }


  &__Head {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__Button {
    display: none;
    background: none;
    border: none;
    svg {
      width: 40px;height: 40px;
      path:last-child {
        fill: white;
      }
    }
    @media screen and (max-width: 600px) {
      display: initial;
    }
  }

  &__Menus {
    display: grid;
    grid-row-gap: 60px;
  }
}
